body.login, .login-page {
    background-image: url('/static/images/logo.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}